@use "../../styles/Colors.scss" as c;
@use "../../styles/Utilities.scss" as u;

.Footer {
  background-color: c.$black;
  color: c.$white;
  border-top: 8px double c.$white;
  border-bottom: 8px double c.$white;
  width: 100vw;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    max-width: u.$max-width;
    margin-inline: auto;
    padding: 3rem u.$edges;
    padding-bottom: 0;

    @media (min-width: 40em) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__section {
    &__header {
      font-size: 1.1rem;
      padding-block: 0.25rem;
      border-bottom: 1px solid c.$white;
      font-weight: bold;
    }

    &__content {
      padding-block: 0.5rem;

      li {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-block: 0.25rem;
    border-top: 1px solid c.$white;
    font-size: 0.75rem;
    width: 100%;
  }
}
